@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* spinner loading */
#spinner-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  z-index: 11;
}

/* backdrop */
.backdrop-animation {
  visibility: visible;
  opacity: 0.5;
}

.backdrop-animation-close {
  visibility: hidden;
  opacity: 0;
}

/* cart */
.cart i span {
  top: -5px;
  right: -5px;
  background: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.cart i:hover span {
  color: black;
}

/* product */
.product-item {
  width: 260px;
  height: 270px;
  transform: translateY(20px);
  transition: 0.2s;
}

.product-item:hover {
  width: 300px;
  height: 444px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform: translateY(-20px);
}

.product img.product-logo {
  width: auto;
  height: 25px;
}

.product img {
  width: 120px;
}

.product hr {
  opacity: 0.1;
  margin: 8px 0;
}

.product .item-content {
  padding-bottom: 100px;
}

.love-click {
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

/* shopping cart */
/* SC: start animation */
.shoppingcart-animation {
  visibility: visible;
  transform: translateX(0);
}

.shoppingcart-animation-close {
  visibility: hidden;
  transform: translateX(100%);
}

.checkout-animation {
  visibility: visible;
  opacity: 1;
}

.checkout-animation-close {
  visibility: hidden;
  opacity: 0;
}

.confirm-animation {
  visibility: visible;
  opacity: 1;
}

.confirm-animation-close {
  visibility: hidden;
  opacity: 0;
}
/* SC: end animation */

/* SC: start button */
#checkoutButton {
  box-shadow: inset 0 0 0 0 rgb(77 124 15 / var(--tw-bg-opacity));
}

#checkoutButton:hover {
  box-shadow: inset 120px 0 0 0 rgb(77 124 15 / var(--tw-bg-opacity));
}

#removeAllButton {
  box-shadow: inset 0 0 0 0 rgb(185 28 28 / var(--tw-bg-opacity));
}

#removeAllButton:hover {
  box-shadow: inset 120px 0 0 0 rgb(185 28 28 / var(--tw-bg-opacity));
}

#confirmButton {
  box-shadow: inset 0 0 0 0 rgb(77 124 15 / var(--tw-bg-opacity));
}

#confirmButton:hover {
  box-shadow: inset 700px 0 0 0 rgb(77 124 15 / var(--tw-bg-opacity));
}

#continueButton {
  box-shadow: inset 0 0 0 0 rgb(79 70 229 / var(--tw-bg-opacity));
}

#continueButton:hover {
  box-shadow: inset 700px 0 0 0 rgb(79 70 229 / var(--tw-bg-opacity));
}
/* SC: end button */
