#spinner-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 9999999;
}

#tblSanPham img{
  width: 75px;
}

#tblDanhSachSP td{
  vertical-align: middle;
}